.statistic 
  .statistic-list
    each val in [1,2,3,4]
      .statistic-item
        .statistic-content
          .statistic-title
            p Thống kê sản phẩm
          .statistic-icon
            ion-icon(name="chevron-forward-outline")
        .statistic-dropdown
          p 5 sản phẩm mới được thêm trong tháng này!