extend ./add_product

block sub-title
  h2.sub-title.product-form-title Chỉnh sửa sản phẩm

block product-image
  .product-form-image
    img(src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="product image")