$font-family: "Plus Jakarta Sans", sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$font-size: 16px;
$h1: 48px;
$h2: 24px;
$bgr-c: #ebebeb;
$color: #000;
$color-subtext: rgba(0, 0, 0, 0.5);
$color-secondary: #fff;
$color-tertiary: #3577f0;
$color-table: rgba(51, 117, 240, 0.35);
$color-quaternary: #ff497c;
