@use "../../abstracts" as *;
.order-form {
  position: fixed;
  inset: 0;
  background-color: $color-subtext;
  display: none;
  span {
    color: $color-quaternary;
  }
  textarea {
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid $color;
    margin-bottom: 24px;
    font-size: 16px;
    width: 100%;
    min-height: 160px;
    &:focus {
      outline: none;
      border-color: $color-tertiary;
    }
  }
  &-password {
    p {
      font-style: italic;
      opacity: 0.5;
    }
    hr {
      margin: 8px 0 24px;
    }
  }
  &-container {
    height: 100vh;
    overflow: auto;
    padding: 120px;
    background-color: $color-secondary;
    margin-left: 200px;
    position: relative;
    border-top-left-radius: 240px;
    border-bottom-left-radius: 240px;
  }
  &-close {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 24px;
  }
  &-content {
    // overflow: scroll;
    label {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 8px;
    }
    input,
    select {
      padding: 12px 16px;
      border-radius: 4px;
      border: 1px solid $color;
      margin-bottom: 24px;
      font-size: 16px;
      &:focus {
        outline: none;
        border-color: $color-tertiary;
      }
    }
  }
  &-image {
    width: 160px;
    border-radius: 8px;
    margin-bottom: 24px;
    img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-radio-container {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    div {
      display: flex;
      align-items: center;
      gap: 8px;
      label,
      input {
        margin: 0;
      }
    }
  }
  &-input-container {
    display: flex;
    gap: 24px;
    div {
      width: 100%;
    }
  }
}
.order-detail-form {
  table {
    border: none !important;
  }
  td:first-child {
    justify-content: flex-start;
    padding-left: 24px;
  }
  thead {
    border: none !important;
    tr {
      background-color: $color-table !important;
      &:hover {
        background-color: $color-table;
      }
    }
  }
  tr {
    border: none !important;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    background-color: $color-secondary;
    &:nth-child(odd) {
      background-color: $color-secondary;
    }
  }
  tr:nth-child(even) {
    background-color: $color-table;
  }
  td {
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 32px;
  }
  &-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    font-size: 24px;
    font-weight: 700;
  }
}
.ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
  min-height: 240px;
}
.remove-form {
  animation: closeForm 0.25s linear forwards;
}
.open-form {
  animation: openForm 0.25s linear forwards;
}
@keyframes closeForm {
  from {
    // opacity: 1;
    transform: translateX(0);
  }
  to {
    // opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes openForm {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
