.table-container
  table.comment.table 
    thead.table-head  
      tr
        th 
          ion-icon(name="image-outline")
        th Sản phẩm
        th Bình luận gần đây
        th Số lượng
        th Hành động
    tbody.table-body 
      each val in [1,2,3,4,5,6,7,8,9,10]
        tr
          td 
            .comment-image 
              img(srcset="./images/product.png 2x", alt="product")
          td 
            .comment-name 
              p Airpod Max
          td
            span.comment-time 12:00:00
            span -
            span 2021-05-20 
          td
            .comment-count
              p 12
          td
            .comment-action 
              a(href="/comment-dt.html")
                ion-icon(name="ellipsis-horizontal-circle-outline")