extend ./views/layout/dashboard
block title
  title Sản phẩm
append stylesheet
  link(rel="stylesheet", href="./css/product.css")
block main
  h1.title Sản phẩm
  +filter()
  include ./views/modules/product/product
  +tablePage()
  include ./views/modules/product/add_product
  include ./views/modules/product/up_product

