.news-form
  .news-form-container
    .news-form-content 
      label Tiêu đề tin tức:
      input.news-form-input(type="text", placeholder="Nhập tên tiêu đề")
      label Đăng bởi:
      input.news-form-input(type="text", placeholder="Tên người đăng")
      label Ngày đăng: 
      input.news-form-input(type="date")
      label Mô tả sản phẩm:
      <textarea id="editor" name="description"></textarea>
      button.news-form-button.button(type="submit") Thêm sản phẩm