.show-image-up {
  width: 100%;
  max-width: 320px;
  max-height: 320px;
  margin-bottom: 24px;
  position: relative;
  /* display: none; */
  border-radius: 8px;
  overflow: hidden;
}
.show-image-up:first-child {
  height: 100%;
}
.show-image-up img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.remove-img {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 24px;
  color: #ff497c;
  cursor: pointer;
  transition: all 0.2s linear;
  padding: 4px;
  border-radius: 100rem;
}
.remove-img:hover {
  background-color: #fff;
  transform: scale(1.2);
}
.account tr {
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1.5fr 1fr 1fr 1fr;
}
.account ion-icon {
  font-size: 24px;
}
.account th:not(:last-child),
.account td:not(:last-child) {
  border-right: 1px solid #000;
}
.account th,
.account td {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.account td:first-child {
  padding: 12px 0;
}
.account th:nth-child(2),
.account td:nth-child(2) {
  justify-content: flex-start;
  padding-left: 32px;
}
.account td:nth-child(6) {
  font-weight: 700;
  color: #3577f0;
}
.account-image {
  width: 120px;
  height: 120px;
}
.account-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.account-action {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
}
.account-action span {
  opacity: 0.5;
}
.account-action ion-icon {
  transition: all 0.2s linear;
}
.account-action ion-icon:hover {
  transform: scale(1.2);
}

.account-form {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.account-form span {
  color: #ff497c;
}
.account-form-password p {
  font-style: italic;
  opacity: 0.5;
}
.account-form-password hr {
  margin: 8px 0 24px;
}
.account-form-container {
  height: 100vh;
  overflow: auto;
  padding: 120px;
  background-color: #fff;
  margin-left: 200px;
  position: relative;
  border-top-left-radius: 240px;
  border-bottom-left-radius: 240px;
}
.account-form-close {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 24px;
}
.account-form-content label {
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}
.account-form-content input,
.account-form-content select {
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #000;
  margin-bottom: 24px;
  font-size: 16px;
}
.account-form-content input:focus,
.account-form-content select:focus {
  outline: none;
  border-color: #3577f0;
}
.account-form-image {
  width: 160px;
  border-radius: 8px;
  margin-bottom: 24px;
}
.account-form-image img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.account-form-radio-container {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.account-form-radio-container div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.account-form-radio-container div label,
.account-form-radio-container div input {
  margin: 0;
}
.account-form-input-container {
  display: flex;
  gap: 24px;
}
.account-form-input-container div {
  width: 100%;
}

.ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
  min-height: 240px;
}

.remove-form {
  animation: closeForm 0.25s linear forwards;
}

.open-form {
  animation: openForm 0.25s linear forwards;
}

@keyframes closeForm {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes openForm {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.sidebar-item:nth-child(4) {
  color: #000;
}
.sidebar-item:nth-child(4) .sidebar-animation {
  transform: translateX(0);
}

/*# sourceMappingURL=account.css.map */
