// BANNER
div
  .container.banner-container.p-16
    div
      // UPPER
      .text-white.flex.items-center.gap-3.font-bold
        .w-12.rounded-full.flex.items-center.justify-center.h-12.bg-primary.text-white
          i.fa-solid.fa-envelope.text-xl
        p Newsletter
      h1.text-primary.text-h1.font-bold Get weekly update
      // LOWER
      .mt-4.flex.gap-2
        .flex.gap-3.bg-white.w-fit.px-6.py-3.rounded-button
          i.fa-solid.fa-envelope.text-xl
          input(type='text' placeholder='example@gmail.com')
        .w-fit.px-6.py-4.bg-primary.text-white.rounded-button Subcribe
        