<section class="my-16">
    <div class="bg-primary">
        <div class="container py-4 flex justify-between items-center">
            <div>
                <!-- UPPER -->
                <div class="flex text-gray-400">
                    <a  class="mr-4 text-grey-500 relative after:content-[''] after:absolute after:top-1/4 after:-right-2 after:w-px after:px-px after:h-4 after:bg-gray-500 after:block" href="#">Home</a>
                    <p class="text-white" > Contact</p>
                </div>
                <!-- LOWER -->
                <div>
                    <h1 class="text-h1 text-white font-bold">Account Detail</h1>
                </div>
            </div>
            <!-- IMG -->
            <div class="w-2/12">
                <img src="/layout/assets/img/cucShit.png" alt="">
            </div>
        </div>
    </div>
</section>