mixin buttons(text)
    button.bg-primary.py-2.rounded-lg.font-bold.w-36.inline-block.px-8.text-white.text-center.transition.duration(class="motion-safe:hover:scale-110")=text
mixin button-login(text)
    button.bg-primary.py-2.rounded-lg.font-bold.w-100.inline-block.px-8.text-white.text-center.transition.duration.border-hover(class="hover:bg-detail hover:text-primary")=text