<footer class="mt-12">
    <div class="container mb-8 mt-24  grid grid-cols-1 mx-auto  md:grid-cols-4  mt-22">
        <div class="flex items-center  md:mx-0">
            <div class="img w-24 h-24"><img src="./assets/img/delivery.png" alt=""></div>

            <div class="info ml-4 mb-2">
                <p class="font-extrabold text-xl">Fast & Secure delivery</p>
                <p class="text-sm">Tell about your service</p>
            </div>
        </div>

        <div class="flex items-center  md:mx-0">
            <div class="img w-24 h-24"><img src="./assets/img/money back.png" alt=""></div>

            <div class="info ml-4 mb-2">
                <p class="font-extrabold text-xl">Fast & Secure delivery</p>
                <p class="text-sm">Within 10 days.</p>
            </div>
        </div>

        <div class="flex items-center  md:mx-0">
            <div class="img w-24 h-24"><img src="./assets/img/return.png" alt=""></div>

            <div class="info ml-4 mb-2">
                <p class="font-extrabold text-xl">Fast & Secure delivery</p>
                <p class="text-sm">No question ask.</p>
            </div>
        </div>

        <div class="flex items-center  md:mx-0">
            <div class="img w-24 h-24"><img src="./assets/img/support.png" alt=""></div>

            <div class="info ml-4 mb-2">
                <p class="font-extrabold text-xl">Fast & Secure delivery</p>
                <p class="text-sm">24/7 Live support.</p>
            </div>
        </div>
    </div>
    <div>
        <div class="container grid-cols-1 md:grid-cols-4 grid border-y-2 py-10 border-gray">
            <div class="flex flex-col justify-between">
                <h1 class="font-bold text-h2 text-lg">Support</h1>
                <p class="w-56 color-777">QTSC 9 Building, To Ky Street Ho Chi Minh City</p>
                
                <div class="">
                    <div>
                        <img class="inline-block mr-4" src="assets/img/mail.png" alt="">
                        <span class="color-777">example@domain.com</span>
                    </div>

                    <div>
                        <img class="inline-block mr-4" src="assets/img/telephone.png" alt="">
                        <span class="color-777">(84+) 123 456 78</span>
                    </div>
                </div>
            </div>
            <div class="ml-6">
                <h1 class="font-bold text-h2 text-lg">Account</h1>
                <div class="mt-2 leading-9 cursor-pointer">
                    <p class="color-777">My Account</p>
                    <p class="color-777">Login</p>
                    <p class="color-777">Cart</p>
                    <p class="color-777">Wislish</p>
                    <p class="color-777">Shop</p>
                </div>
            </div>

            <div class="ml-12">
                <h1 class="font-bold text-h2 text-lg">Quick Link</h1>
                <div class="mt-2 leading-9 cursor-pointer">
                    <p class="color-777">About Us</p>
                    <p class="color-777">Privacy Policy</p>
                    <p class="color-777">Terms Of Use</p>
                    <p class="color-777">Contact</p>
                </div>
            </div>

            <div class="ml-16">
                <h1 class="font-bold text-h2 text-lg">Follow Us</h1>
                <div class="mt-2">
                    <div class="flex gap-4 cursor-pointer">
                        <img class="w-10 h-10 mr-2" src="./assets/img/facebook (2).png" alt="">
                        <img class="w-10 h-10 mr-2" src="./assets/img/instagram.png" alt="">
                        <img class="w-10 h-10 mr-2" src="./assets/img/linkedin.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="container arr flex justify-between items-center py-4 text-sm">
            <p class="color-777">© 2023. All rights reserved</p>
            <div class="payment">
                <p class="color-777">Accept For</p>

                <div class="payment_img flex justify-between items-center ml-4">
                    <img class="mr-2 w-6 h-6" src="./assets/img/paypal.png" alt="">
                    <img class="mr-2 w-14 h-14" src="./assets/img/pay-1.png" alt="">
                    <img class="mr-2 w-12 h-12" src="./assets/img/visa.png" alt="">
                    <img class="mr-2 w-12 h-12" src="./assets/img/momo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>