<header>
    <div>
        <div class=" w-3/4 px-8 container bg-box rounded-15 mt-8 flex items-center justify-between">
            <!-- LOGO -->
            <div>
                <img src="assets/img/logo.png" alt="Logo Web">
            </div>
            <!-- NAV -->
            <div>
                <ul class="flex text-h2 gap-6">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Product</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- SITE LINK -->
            <div>
                <ul class="flex gap-3">
                    <li>
                        <a href="#">
                            <img src="./assets/img/icon-search.png" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="./assets/img/icon-cart.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="relative heart-container">
                            <div class="heart-1 "></div>
                            <div class="heart-2 top-0 absolute"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="./assets/img/icon-user.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>