extends ./assets/pug/layout
block main
   section.container.pb-40 
      .profile.flex.flex-col.gap-1
         .profile-img.rounded-full.w-24
            img(src="./images/profile.jpg", alt="alt").rounded-full 
         p.profile-title.text-third.font-bold Hello A3KHIA 
         span.text-gray.font-bold eTrade Member Since Sep 2020
      .grid.grid-flow-row-dense.grid-cols-8.gap-10.pt-5
         .navbar.col-span-2.bg-primary.rounded-xl
            navbar
               ul.p-5.flex.flex-col.gap-3
                  +list("grid","Dashboad")
                  +list("cart","Order")
                  +list("home","Addresses")
                  li.list-none.flex.items-center.gap-5.py-3.px-6.bg-white.rounded-lg
                     ion-icon(name="person").text-primary.text-lg
                     a(href="").text-primary.text-xs.fw-500 Account Details
                  +list("log-out","Logout")
         form(action="" method="method").col-span-6.flex.flex-col.gap-8
            div.grid.grid-cols-2.gap-8
               label.flex.relative
                  input(type="text", name="").w-full.text-sm.bg-white.rounded-lg.border-gray.border-opacity-50.py-3.px-3.outline-none.border-2.transition.duration-200(class="focus:border-blue-500 focus:text-primary")
                  span.absolute.left-0.top-3.mx-2.px-2.transition.duration.input-text Firstname
               label.flex.relative
                  input(type="text", name="").w-full.text-sm.bg-white.rounded-lg.border-gray.border-opacity-50.py-3.px-3.outline-none.border-2.transition.duration-200(class="focus:border-blue-500 focus:text-primary")
                  span.absolute.left-0.top-3.mx-2.px-2.transition.duration.input-text Lastname
            label.flex
               select.w-full.text-sm.bg-white.rounded-lg.border-gray.border-opacity-50.py-3.px-3.outline-none.border-2.transition.duration-200(class="focus:border-blue-500 focus:text-primary")
                  option(value="1") VietNam 
                  option(value="1") USA
            span.text-gray This will be how your name will be displayed in the account section and in reviews
            p.text-third.font-bold Password Change
            label.flex.relative
               input(type="password", name="").w-full.text-sm.bg-white.rounded-lg.border-gray.border-opacity-50.py-3.px-3.outline-none.border-2.transition.duration-200(class="focus:border-blue-500 focus:text-primary")
               span.absolute.left-0.top-3.mx-2.px-2.transition.duration.input-text Password
            label.flex.relative
               input(type="password", name="").w-full.text-sm.bg-white.rounded-lg.border-gray.border-opacity-50.py-3.px-3.outline-none.border-2.transition.duration-200(class="focus:border-blue-500 focus:text-primary")
               span.absolute.left-0.top-3.mx-2.px-2.transition.duration.input-text New password
            label.flex.relative
               input(type="password", name="").w-full.text-sm.bg-white.rounded-lg.border-gray.border-opacity-50.py-3.px-3.outline-none.border-2.transition.duration-200(class="focus:border-blue-500 focus:text-primary")
               span.absolute.left-0.top-3.mx-2.px-2.transition.duration.input-text Confirm new password
            +buttons("Update")   