extends ./assets/pug/layout
block main
    section.container.pb-14
        h3.text-h1.font-bold.text-third.pb-8 Highlighted
        .blog-item.grid.grid-cols-2.gap-5 
            .rounded-lg.overflow-hidden.shadow-lg
                img.w-full(src='./images/image-news-1.png' alt='Sunset in the mountains')
                .px-6.py-4
                    .flex.items-center.justyfy-center.gap-2 
                        ion-icon.text-gray.font-mormal.text-span(name="calendar")
                        span.text-gray.font-mormal.text-span 10/09/2023
                    .font-bold.text-xl.mb-2 The Coldest Sunset
                    p.text-third.text-base.font-mormal.text-sm.pb-6  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                    a(href="")
                        button.flex.items-center.gap-4.transiton.duration-300.ease-in(class="hover:gap-6")
                            span.text-pink READ MORE 
                            ion-icon.text-pink(name="arrow-forward")
            .rounded-lg.overflow-hidden.shadow-lg
                img.w-full(src='./images/image-news-2.png' alt='Sunset in the mountains')
                .px-6.py-4
                    .flex.items-center.justyfy-center.gap-2 
                        ion-icon.text-gray.font-mormal.text-span(name="calendar")
                        span.text-gray.font-mormal.text-span 10/09/2023
                    .font-bold.text-xl.mb-2 The Coldest Sunset
                    p.text-third.text-base.font-mormal.text-sm.pb-6  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                    a(href="")
                        button.flex.items-center.gap-4.transiton.duration-300.ease-in(class="hover:gap-6")
                            span.text-pink.text-p READ MORE 
                            ion-icon.text-pink.text-p(name="arrow-forward")
    section.container
        h3.text-h1.font-bold.text-third.pb-8.border-b-2.border-gray Latest Post
        .overflow-hidden.py-6.grid.grid-cols-5.border-b-2.border-gray
            img.col-span-1.w-full(src='./images/image-news-2.png' alt='Sunset in the mountains')
            .px-6.py-4.col-span-4
                .flex.items-center.justyfy-center.gap-2 
                    ion-icon.text-gray.font-mormal.text-span(name="calendar")
                    span.text-gray.font-mormal.text-span 10/09/2023
                .font-bold.text-xl.mb-2 The Coldest Sunset
                p.text-third.text-base.font-mormal.text-sm.pb-2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                a(href="")
                    button.flex.items-center.gap-4.transiton.duration-300.ease-in(class="hover:gap-6")
                        span.text-pink.text-p READ MORE 
                        ion-icon.text-pink.text-p(name="arrow-forward")
        .overflow-hidden.py-6.grid.grid-cols-5.border-b-2.border-gray
            img.col-span-1.w-full(src='./images/image-news-2.png' alt='Sunset in the mountains')
            .px-6.py-4.col-span-4
                .flex.items-center.justyfy-center.gap-2 
                    ion-icon.text-gray.font-mormal.text-span(name="calendar")
                    span.text-gray.font-mormal.text-span 10/09/2023
                .font-bold.text-xl.mb-2 The Coldest Sunset
                p.text-third.text-base.font-mormal.text-sm.pb-2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                a(href="")
                    button.flex.items-center.gap-4.transiton.duration-300.ease-in(class="hover:gap-6")
                        span.text-pink.text-p READ MORE 
                        ion-icon.text-pink.text-p(name="arrow-forward")
        .overflow-hidden.py-6.grid.grid-cols-5.border-b-2.border-gray
            img.col-span-1.w-full(src='./images/image-news-2.png' alt='Sunset in the mountains')
            .px-6.py-4.col-span-4
                .flex.items-center.justyfy-center.gap-2 
                    ion-icon.text-gray.font-mormal.text-span(name="calendar")
                    span.text-gray.font-mormal.text-span 10/09/2023
                .font-bold.text-xl.mb-2 The Coldest Sunset
                p.text-third.text-base.font-mormal.text-sm.pb-2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                a(href="")
                    button.flex.items-center.gap-4.transiton.duration-300.ease-in(class="hover:gap-6")
                        span.text-pink.text-p READ MORE 
                        ion-icon.text-pink.text-p(name="arrow-forward")
        .overflow-hidden.py-6.grid.grid-cols-5.border-b-2.border-gray
            img.col-span-1.w-full(src='./images/image-news-2.png' alt='Sunset in the mountains')
            .px-6.py-4.col-span-4
                .flex.items-center.justyfy-center.gap-2 
                    ion-icon.text-gray.font-mormal.text-span(name="calendar")
                    span.text-gray.font-mormal.text-span 10/09/2023
                .font-bold.text-xl.mb-2 The Coldest Sunset
                p.text-third.text-base.font-mormal.text-sm.pb-2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                a(href="")
                    button.flex.items-center.gap-4.transiton.duration-300.ease-in(class="hover:gap-6")
                        span.text-pink.text-p READ MORE 
                        ion-icon.text-pink.text-p(name="arrow-forward")
        .overflow-hidden.py-6.grid.grid-cols-5.border-b-2.border-gray
            img.col-span-1.w-full(src='./images/image-news-2.png' alt='Sunset in the mountains')
            .px-6.py-4.col-span-4
                .flex.items-center.justyfy-center.gap-2 
                    ion-icon.text-gray.font-mormal.text-span(name="calendar")
                    span.text-gray.font-mormal.text-span 10/09/2023
                .font-bold.text-xl.mb-2 The Coldest Sunset
                p.text-third.text-base.font-mormal.text-sm.pb-2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                a(href="")
                    button.flex.items-center.gap-4.transiton.duration-300.ease-in(class="hover:gap-6")
                        span.text-pink.text-p READ MORE 
                        ion-icon.text-pink.text-p(name="arrow-forward")
        .news-lists.flex.items-center.gap-4.justify-center.py-8
                ion-icon(name="chevron-back").text-third.p-2.bg-slate-200.rounded
                span.text-third 1
                span.text-third 2
                span.text-third 3
                span.text-third ...
                ion-icon(name="chevron-forward").text-third.p-2.bg-slate-200.rounded
