<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tài khoản</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&amp;display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/40.0.0/ckeditor.min.js" integrity="sha512-Zyl/SvrviD3rEMVNCPN+m5zV0PofJYlGHnLDzol2kM224QpmWj9p5z7hQYppmnLFhZwqif5Fugjjouuk5l1lgA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./js/app.js"> </script>
    <link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="./css/account.css">
  </head>
  <body> 
    <header class="header">
      <div class="header-image"> <img srcSet="./images/logo.png 2x" alt="logo"></div>
    </header>
    <div class="wrapper" id="wrapper">
      <div class="sidebar"> 
        <ul class="sidebar-list">
          <li class="sidebar-item"><a class="sidebar-link" href="./">
              <ion-icon name="bar-chart-outline"></ion-icon><span>Bảng điều khiển</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./category.html">
              <ion-icon name="albums-outline"></ion-icon><span>Danh mục</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./product.html">
              <ion-icon name="cube-outline"></ion-icon><span>Sản phẩm</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./account.html">
              <ion-icon name="people-circle-outline"></ion-icon><span>Tài khoản</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./order.html">
              <ion-icon name="cart-outline"></ion-icon><span>Đơn hàng</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./comment.html">
              <ion-icon name="chatbubble-ellipses-outline"></ion-icon><span>Bình luận</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./news.html">
              <ion-icon name="newspaper-outline"></ion-icon><span>Tin tức</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./brand.html">
              <ion-icon name="business-outline"></ion-icon><span>Thương hiệu</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./voucher.html">
              <ion-icon name="wallet-outline"></ion-icon><span>Mã giảm giá</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./">
              <ion-icon name="log-out-outline"></ion-icon><span>Đăng xuất</span></a>
            <div class="sidebar-animation"></div>
          </li>
        </ul>
      </div>
      <main class="main">
        <h1 class="title">Tài khoản</h1>
        <div class="filter">
          <div class="filter-select"> 
            <select id="filter-select">
              <option value="all">Tất cả</option>
              <option value="new">Mới nhất</option>
              <option value="sale">Giảm giá</option>
            </select>
          </div>
          <div class="filter-search"> 
            <input id="filter-search" type="text" placeholder="Nhập từ khoá"/>
            <button class="button">
              <ion-icon name="search"></ion-icon>
            </button>
          </div>
        </div>
        <div class="table-container">
          <table class="account table"> 
            <thead class="table-head"> 
              <tr>
                <th> 
                  <ion-icon name="image-outline"></ion-icon>
                </th>
                <th>Tên đầy đủ</th>
                <th>Tên người dùng</th>
                <th>Điện thoại</th>
                <th>Email </th>
                <th>Trạng thái</th>
                <th>Hành động</th>
              </tr>
            </thead>
            <tbody class="table-body"> 
              <tr>
                <td> 
                  <div class="account-image"> <img srcset="./images/user.png 2x" alt="account"></div>
                </td>
                <td> 
                  <div class="account-fullname"> 
                    <p>Tao Dep Trai</p>
                  </div>
                </td>
                <td>
                  <div class="account-username"> 
                    <p>guest101</p>
                  </div>
                </td>
                <td>
                  <div class="account-phone"> 
                    <p>0123456789</p>
                  </div>
                </td>
                <td>
                  <div class="account-email"> 
                    <p>meomeo@gmail.com</p>
                  </div>
                </td>
                <td>
                  <div class="account-status"> 
                    <p>Hoạt động</p>
                  </div>
                </td>
                <td>
                  <div class="account-action"> <a class="account-edit" href="#">
                      <ion-icon name="create-outline"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon name="trash-outline"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td> 
                  <div class="account-image"> <img srcset="./images/user.png 2x" alt="account"></div>
                </td>
                <td> 
                  <div class="account-fullname"> 
                    <p>Tao Dep Trai</p>
                  </div>
                </td>
                <td>
                  <div class="account-username"> 
                    <p>guest101</p>
                  </div>
                </td>
                <td>
                  <div class="account-phone"> 
                    <p>0123456789</p>
                  </div>
                </td>
                <td>
                  <div class="account-email"> 
                    <p>meomeo@gmail.com</p>
                  </div>
                </td>
                <td>
                  <div class="account-status"> 
                    <p>Hoạt động</p>
                  </div>
                </td>
                <td>
                  <div class="account-action"> <a class="account-edit" href="#">
                      <ion-icon name="create-outline"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon name="trash-outline"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td> 
                  <div class="account-image"> <img srcset="./images/user.png 2x" alt="account"></div>
                </td>
                <td> 
                  <div class="account-fullname"> 
                    <p>Tao Dep Trai</p>
                  </div>
                </td>
                <td>
                  <div class="account-username"> 
                    <p>guest101</p>
                  </div>
                </td>
                <td>
                  <div class="account-phone"> 
                    <p>0123456789</p>
                  </div>
                </td>
                <td>
                  <div class="account-email"> 
                    <p>meomeo@gmail.com</p>
                  </div>
                </td>
                <td>
                  <div class="account-status"> 
                    <p>Hoạt động</p>
                  </div>
                </td>
                <td>
                  <div class="account-action"> <a class="account-edit" href="#">
                      <ion-icon name="create-outline"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon name="trash-outline"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td> 
                  <div class="account-image"> <img srcset="./images/user.png 2x" alt="account"></div>
                </td>
                <td> 
                  <div class="account-fullname"> 
                    <p>Tao Dep Trai</p>
                  </div>
                </td>
                <td>
                  <div class="account-username"> 
                    <p>guest101</p>
                  </div>
                </td>
                <td>
                  <div class="account-phone"> 
                    <p>0123456789</p>
                  </div>
                </td>
                <td>
                  <div class="account-email"> 
                    <p>meomeo@gmail.com</p>
                  </div>
                </td>
                <td>
                  <div class="account-status"> 
                    <p>Hoạt động</p>
                  </div>
                </td>
                <td>
                  <div class="account-action"> <a class="account-edit" href="#">
                      <ion-icon name="create-outline"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon name="trash-outline"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td> 
                  <div class="account-image"> <img srcset="./images/user.png 2x" alt="account"></div>
                </td>
                <td> 
                  <div class="account-fullname"> 
                    <p>Tao Dep Trai</p>
                  </div>
                </td>
                <td>
                  <div class="account-username"> 
                    <p>guest101</p>
                  </div>
                </td>
                <td>
                  <div class="account-phone"> 
                    <p>0123456789</p>
                  </div>
                </td>
                <td>
                  <div class="account-email"> 
                    <p>meomeo@gmail.com</p>
                  </div>
                </td>
                <td>
                  <div class="account-status"> 
                    <p>Hoạt động</p>
                  </div>
                </td>
                <td>
                  <div class="account-action"> <a class="account-edit" href="#">
                      <ion-icon name="create-outline"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon name="trash-outline"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td> 
                  <div class="account-image"> <img srcset="./images/user.png 2x" alt="account"></div>
                </td>
                <td> 
                  <div class="account-fullname"> 
                    <p>Tao Dep Trai</p>
                  </div>
                </td>
                <td>
                  <div class="account-username"> 
                    <p>guest101</p>
                  </div>
                </td>
                <td>
                  <div class="account-phone"> 
                    <p>0123456789</p>
                  </div>
                </td>
                <td>
                  <div class="account-email"> 
                    <p>meomeo@gmail.com</p>
                  </div>
                </td>
                <td>
                  <div class="account-status"> 
                    <p>Hoạt động</p>
                  </div>
                </td>
                <td>
                  <div class="account-action"> <a class="account-edit" href="#">
                      <ion-icon name="create-outline"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon name="trash-outline"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td> 
                  <div class="account-image"> <img srcset="./images/user.png 2x" alt="account"></div>
                </td>
                <td> 
                  <div class="account-fullname"> 
                    <p>Tao Dep Trai</p>
                  </div>
                </td>
                <td>
                  <div class="account-username"> 
                    <p>guest101</p>
                  </div>
                </td>
                <td>
                  <div class="account-phone"> 
                    <p>0123456789</p>
                  </div>
                </td>
                <td>
                  <div class="account-email"> 
                    <p>meomeo@gmail.com</p>
                  </div>
                </td>
                <td>
                  <div class="account-status"> 
                    <p>Hoạt động</p>
                  </div>
                </td>
                <td>
                  <div class="account-action"> <a class="account-edit" href="#">
                      <ion-icon name="create-outline"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon name="trash-outline"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td> 
                  <div class="account-image"> <img srcset="./images/user.png 2x" alt="account"></div>
                </td>
                <td> 
                  <div class="account-fullname"> 
                    <p>Tao Dep Trai</p>
                  </div>
                </td>
                <td>
                  <div class="account-username"> 
                    <p>guest101</p>
                  </div>
                </td>
                <td>
                  <div class="account-phone"> 
                    <p>0123456789</p>
                  </div>
                </td>
                <td>
                  <div class="account-email"> 
                    <p>meomeo@gmail.com</p>
                  </div>
                </td>
                <td>
                  <div class="account-status"> 
                    <p>Hoạt động</p>
                  </div>
                </td>
                <td>
                  <div class="account-action"> <a class="account-edit" href="#">
                      <ion-icon name="create-outline"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon name="trash-outline"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td> 
                  <div class="account-image"> <img srcset="./images/user.png 2x" alt="account"></div>
                </td>
                <td> 
                  <div class="account-fullname"> 
                    <p>Tao Dep Trai</p>
                  </div>
                </td>
                <td>
                  <div class="account-username"> 
                    <p>guest101</p>
                  </div>
                </td>
                <td>
                  <div class="account-phone"> 
                    <p>0123456789</p>
                  </div>
                </td>
                <td>
                  <div class="account-email"> 
                    <p>meomeo@gmail.com</p>
                  </div>
                </td>
                <td>
                  <div class="account-status"> 
                    <p>Hoạt động</p>
                  </div>
                </td>
                <td>
                  <div class="account-action"> <a class="account-edit" href="#">
                      <ion-icon name="create-outline"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon name="trash-outline"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td> 
                  <div class="account-image"> <img srcset="./images/user.png 2x" alt="account"></div>
                </td>
                <td> 
                  <div class="account-fullname"> 
                    <p>Tao Dep Trai</p>
                  </div>
                </td>
                <td>
                  <div class="account-username"> 
                    <p>guest101</p>
                  </div>
                </td>
                <td>
                  <div class="account-phone"> 
                    <p>0123456789</p>
                  </div>
                </td>
                <td>
                  <div class="account-email"> 
                    <p>meomeo@gmail.com</p>
                  </div>
                </td>
                <td>
                  <div class="account-status"> 
                    <p>Hoạt động</p>
                  </div>
                </td>
                <td>
                  <div class="account-action"> <a class="account-edit" href="#">
                      <ion-icon name="create-outline"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon name="trash-outline"></ion-icon></a></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-page"><a class="button table-page-button" href="#">
            <ion-icon name="chevron-back-outline"></ion-icon></a><a class="button table-page-button" href="#"><span>1</span></a><a class="button table-page-button" href="#"><span>2</span></a><a class="button table-page-button" href="#"><span>3</span></a><a class="button table-page-button" href="#">
            <ion-icon name="chevron-forward-outline"></ion-icon></a></div>
        <div class="account-form">
          <div class="account-form-container">
            <h2 class="sub-title account-form-title">Chỉnh sửa tài khoản </h2><a class="account-form-close" href="#">
              <ion-icon name="close-circle-outline"></ion-icon></a>
            <div class="account-form-content"> 
              <label>Ảnh đại diện: </label>
              <div class="account-form-image"> <img src="./images/user.png" alt="product image"></div>
              <label>Tên người dùng: <span> *</span></label>
              <input class="account-form-input" type="text" value="LangTu" disabled>
              <label for="account-fullname">Tên đầy đủ:<span>*</span></label>
              <input class="account-form-input" type="text" value="Tiến Bịp" id="account-fullname">
              <label for="account-email">Email:<span>*</span></label>
              <input class="account-form-input" type="email" value="meomeo@gmail.com" id="account-email">
              <label for="account-phone">Số điện thoại:<span>*</span></label>
              <input class="account-form-input" type="text" value="0123456789" id="account-phone">
              <label for="account-address">Địa chỉ:<span>*</span></label>
              <input class="account-form-input" type="text" value="Hà Nội" id="account-address">
              <label>Trạng thái: <span>*</span></label>
              <select class="account-form-select">
                <option value="1">Hoạt động</option>
                <option value="0">Bị cấm</option>
              </select>
              <label>Quyền hạn:<span>*</span></label>
              <select class="account-form-select">
                <option value="1">Quản lí</option>
                <option value="0">Người dùng</option>
              </select>
              <div class="account-form-password">
                <p>Đổi mật khẩu</p>
                <hr>
                <label for="account-password">Mật khẩu mới (Bỏ trống nếu không muốn thay đổi):</label>
                <input class="account-form-input" type="password" value="123456" id="account-password">
                <label for="account-password-confirm">Xác nhận mật khẩu mới:</label>
                <input class="account-form-input" type="password" value="123456" id="account-password-confirm">
              </div>
              <button class="account-form-button button" type="submit">Lưu thay đổi</button>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer class="footer"> 
      <div class="footer-copyright"> 
        <p>© 2023. Mọi bản quyền được bảo lưu.</p>
      </div>
      <div class="footer-brand"> <span>Chấp nhận cho</span>
        <div class="footer-item"><img srcset="./images/footer/1.png 2x" alt="brand"></div>
        <div class="footer-item"><img srcset="./images/footer/1.png 2x" alt="brand"></div>
        <div class="footer-item"><img srcset="./images/footer/1.png 2x" alt="brand"></div>
        <div class="footer-item"><img srcset="./images/footer/1.png 2x" alt="brand"></div>
      </div>
    </footer>
    <script src="./js/dashboard.js"> </script>
    <script src="./js/category.js"> </script>
    <script src="./js/product.js"> </script>
    <script src="./js/account.js"> </script>
    <script src="./js/order.js"></script>
  </body>
</html>