<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&amp;display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/40.0.0/ckeditor.min.js" integrity="sha512-Zyl/SvrviD3rEMVNCPN+m5zV0PofJYlGHnLDzol2kM224QpmWj9p5z7hQYppmnLFhZwqif5Fugjjouuk5l1lgA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./js/app.js"> </script>
    <link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="./css/news.css">
  </head>
  <body> 
    <header class="header">
      <div class="header-image"> <img srcSet="./images/logo.png 2x" alt="logo"></div>
    </header>
    <div class="wrapper" id="wrapper">
      <div class="sidebar"> 
        <ul class="sidebar-list">
          <li class="sidebar-item"><a class="sidebar-link" href="./">
              <ion-icon name="bar-chart-outline"></ion-icon><span>Bảng điều khiển</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./category.html">
              <ion-icon name="albums-outline"></ion-icon><span>Danh mục</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./product.html">
              <ion-icon name="cube-outline"></ion-icon><span>Sản phẩm</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./account.html">
              <ion-icon name="people-circle-outline"></ion-icon><span>Tài khoản</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./order.html">
              <ion-icon name="cart-outline"></ion-icon><span>Đơn hàng</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./comment.html">
              <ion-icon name="chatbubble-ellipses-outline"></ion-icon><span>Bình luận</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./news.html">
              <ion-icon name="newspaper-outline"></ion-icon><span>Tin tức</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./brand.html">
              <ion-icon name="business-outline"></ion-icon><span>Thương hiệu</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./voucher.html">
              <ion-icon name="wallet-outline"></ion-icon><span>Mã giảm giá</span></a>
            <div class="sidebar-animation"></div>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="./">
              <ion-icon name="log-out-outline"></ion-icon><span>Đăng xuất</span></a>
            <div class="sidebar-animation"></div>
          </li>
        </ul>
      </div>
      <main class="main">
        <h1 class="title">Tin tức</h1>
        <div class="filter">
          <div class="filter-select"> 
            <select id="filter-select">
              <option value="all">Tất cả</option>
              <option value="new">Mới nhất</option>
              <option value="sale">Giảm giá</option>
            </select>
          </div>
          <div class="filter-search"> 
            <input id="filter-search" type="text" placeholder="Nhập từ khoá"/>
            <button class="button">
              <ion-icon name="search"></ion-icon>
            </button>
          </div>
        </div>
        <div class="table-container">
          <table class="news table"> 
            <thead class="table-head"> 
              <tr>
                <th>Tiêu đề</th>
                <th>Đăng bởi </th>
                <th>Thời gian</th>
                <th>Hàng động</th>
              </tr>
            </thead>
            <tbody class="table-body"> 
              <tr>
                <td>
                  <div class="news-username"> 
                    <p>Nhà tôi ba đời trị bệnh trĩ, thay cột sống blabla...</p>
                  </div>
                </td>
                <td> 
                  <div class="news-fullname"> 
                    <p>Dep Trai Nhat Xom</p>
                  </div>
                </td>
                <td><span class="news-time">12:00:00  </span><span>-</span><span>2021-05-20 </span></td>
                <td>
                  <div class="news-action"><a class="news-edit" href="/up_news.html">
                      <ion-icon class="md hydrated" name="create-outline" role="img"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon class="md hydrated" name="trash-outline" role="img"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="news-username"> 
                    <p>Nhà tôi ba đời trị bệnh trĩ, thay cột sống blabla...</p>
                  </div>
                </td>
                <td> 
                  <div class="news-fullname"> 
                    <p>Dep Trai Nhat Xom</p>
                  </div>
                </td>
                <td><span class="news-time">12:00:00  </span><span>-</span><span>2021-05-20 </span></td>
                <td>
                  <div class="news-action"><a class="news-edit" href="/up_news.html">
                      <ion-icon class="md hydrated" name="create-outline" role="img"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon class="md hydrated" name="trash-outline" role="img"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="news-username"> 
                    <p>Nhà tôi ba đời trị bệnh trĩ, thay cột sống blabla...</p>
                  </div>
                </td>
                <td> 
                  <div class="news-fullname"> 
                    <p>Dep Trai Nhat Xom</p>
                  </div>
                </td>
                <td><span class="news-time">12:00:00  </span><span>-</span><span>2021-05-20 </span></td>
                <td>
                  <div class="news-action"><a class="news-edit" href="/up_news.html">
                      <ion-icon class="md hydrated" name="create-outline" role="img"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon class="md hydrated" name="trash-outline" role="img"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="news-username"> 
                    <p>Nhà tôi ba đời trị bệnh trĩ, thay cột sống blabla...</p>
                  </div>
                </td>
                <td> 
                  <div class="news-fullname"> 
                    <p>Dep Trai Nhat Xom</p>
                  </div>
                </td>
                <td><span class="news-time">12:00:00  </span><span>-</span><span>2021-05-20 </span></td>
                <td>
                  <div class="news-action"><a class="news-edit" href="/up_news.html">
                      <ion-icon class="md hydrated" name="create-outline" role="img"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon class="md hydrated" name="trash-outline" role="img"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="news-username"> 
                    <p>Nhà tôi ba đời trị bệnh trĩ, thay cột sống blabla...</p>
                  </div>
                </td>
                <td> 
                  <div class="news-fullname"> 
                    <p>Dep Trai Nhat Xom</p>
                  </div>
                </td>
                <td><span class="news-time">12:00:00  </span><span>-</span><span>2021-05-20 </span></td>
                <td>
                  <div class="news-action"><a class="news-edit" href="/up_news.html">
                      <ion-icon class="md hydrated" name="create-outline" role="img"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon class="md hydrated" name="trash-outline" role="img"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="news-username"> 
                    <p>Nhà tôi ba đời trị bệnh trĩ, thay cột sống blabla...</p>
                  </div>
                </td>
                <td> 
                  <div class="news-fullname"> 
                    <p>Dep Trai Nhat Xom</p>
                  </div>
                </td>
                <td><span class="news-time">12:00:00  </span><span>-</span><span>2021-05-20 </span></td>
                <td>
                  <div class="news-action"><a class="news-edit" href="/up_news.html">
                      <ion-icon class="md hydrated" name="create-outline" role="img"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon class="md hydrated" name="trash-outline" role="img"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="news-username"> 
                    <p>Nhà tôi ba đời trị bệnh trĩ, thay cột sống blabla...</p>
                  </div>
                </td>
                <td> 
                  <div class="news-fullname"> 
                    <p>Dep Trai Nhat Xom</p>
                  </div>
                </td>
                <td><span class="news-time">12:00:00  </span><span>-</span><span>2021-05-20 </span></td>
                <td>
                  <div class="news-action"><a class="news-edit" href="/up_news.html">
                      <ion-icon class="md hydrated" name="create-outline" role="img"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon class="md hydrated" name="trash-outline" role="img"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="news-username"> 
                    <p>Nhà tôi ba đời trị bệnh trĩ, thay cột sống blabla...</p>
                  </div>
                </td>
                <td> 
                  <div class="news-fullname"> 
                    <p>Dep Trai Nhat Xom</p>
                  </div>
                </td>
                <td><span class="news-time">12:00:00  </span><span>-</span><span>2021-05-20 </span></td>
                <td>
                  <div class="news-action"><a class="news-edit" href="/up_news.html">
                      <ion-icon class="md hydrated" name="create-outline" role="img"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon class="md hydrated" name="trash-outline" role="img"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="news-username"> 
                    <p>Nhà tôi ba đời trị bệnh trĩ, thay cột sống blabla...</p>
                  </div>
                </td>
                <td> 
                  <div class="news-fullname"> 
                    <p>Dep Trai Nhat Xom</p>
                  </div>
                </td>
                <td><span class="news-time">12:00:00  </span><span>-</span><span>2021-05-20 </span></td>
                <td>
                  <div class="news-action"><a class="news-edit" href="/up_news.html">
                      <ion-icon class="md hydrated" name="create-outline" role="img"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon class="md hydrated" name="trash-outline" role="img"></ion-icon></a></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="news-username"> 
                    <p>Nhà tôi ba đời trị bệnh trĩ, thay cột sống blabla...</p>
                  </div>
                </td>
                <td> 
                  <div class="news-fullname"> 
                    <p>Dep Trai Nhat Xom</p>
                  </div>
                </td>
                <td><span class="news-time">12:00:00  </span><span>-</span><span>2021-05-20 </span></td>
                <td>
                  <div class="news-action"><a class="news-edit" href="/up_news.html">
                      <ion-icon class="md hydrated" name="create-outline" role="img"></ion-icon></a><span>|</span><a href="#">
                      <ion-icon class="md hydrated" name="trash-outline" role="img"></ion-icon></a></div>
                </td>
              </tr>
            </tbody>
          </table><a class="table-button button news-add" href="/add_news.html">Thêm tin tức</a>
        </div>
        <div class="table-page"><a class="button table-page-button" href="#">
            <ion-icon name="chevron-back-outline"></ion-icon></a><a class="button table-page-button" href="#"><span>1</span></a><a class="button table-page-button" href="#"><span>2</span></a><a class="button table-page-button" href="#"><span>3</span></a><a class="button table-page-button" href="#">
            <ion-icon name="chevron-forward-outline"></ion-icon></a></div>
      </main>
    </div>
    <footer class="footer"> 
      <div class="footer-copyright"> 
        <p>© 2023. Mọi bản quyền được bảo lưu.</p>
      </div>
      <div class="footer-brand"> <span>Chấp nhận cho</span>
        <div class="footer-item"><img srcset="./images/footer/1.png 2x" alt="brand"></div>
        <div class="footer-item"><img srcset="./images/footer/1.png 2x" alt="brand"></div>
        <div class="footer-item"><img srcset="./images/footer/1.png 2x" alt="brand"></div>
        <div class="footer-item"><img srcset="./images/footer/1.png 2x" alt="brand"></div>
      </div>
    </footer>
    <script src="./js/dashboard.js"> </script>
    <script src="./js/category.js"> </script>
    <script src="./js/product.js"> </script>
    <script src="./js/account.js"> </script>
    <script src="./js/order.js"></script>
  </body>
</html>