//- Sidebar
mixin sidebarItem(href, icon, text)
  li.sidebar-item
    a.sidebar-link(href= href)
      ion-icon(name= icon)
      span= text
    .sidebar-animation

//- Filter
mixin filter()
  .filter
    .filter-select 
      select#filter-select
        option(value='all') Tất cả
        option(value='new') Mới nhất
        option(value='sale') Giảm giá
    .filter-search 
      input#filter-search(type='text' placeholder='Nhập từ khoá')
      button.button
        ion-icon(name='search')

//- Table page
mixin tablePage()
  .table-page
    a(href="#").button.table-page-button
      ion-icon(name="chevron-back-outline")
    a(href="#").button.table-page-button
      span 1
    a(href="#").button.table-page-button
      span 2
    a(href="#").button.table-page-button
      span 3
    a(href="#").button.table-page-button
      ion-icon(name="chevron-forward-outline")